<div class="row">
  <label>Primaire kleur</label>
  <select id="setting-color-primary" class="browser-default" data-property="primaryColor">
    <% _.each(availableColors, function(hex, name) { var selected = hex == primaryColor; %>
      <option value="<%= hex %>" <% if (selected) { %>selected<% } %> ><%= name %></option>
    <% });%>
  </select>
</div>

<div class="row">
  <label>Secundaire kleur</label>
  <select id="setting-color-secondary" class="browser-default" data-property="secondaryColor">
    <% _.each(availableColors, function(hex, name) { var selected = hex == secondaryColor; %>
    <option value="<%= hex %>" <% if (selected) { %>selected<% } %> ><%= name %></option>
    <% });%>
  </select>
</div>
