<div class="row">
  <input type="checkbox" id="show-map-title" data-property="showMapTitle" <% if (showMapTitle) { %>checked<% } %> />
  <label for="show-map-title">Show map title</label>
</div>

<div class="row">
  <input type="checkbox" id="show-search-filter" data-property="showSearchFilter" <% if (showSearchFilter) { %>checked<% } %> />
  <label for="show-search-filter">Show search/filter</label>
</div>

<div class="row">
  <input type="checkbox" id="allow-fullscreen" data-property="allowFullscreen" <% if (allowFullscreen) { %>checked<% } %> />
  <label for="allow-fullscreen">Allow fullscreen</label>
</div>

<div class="row">
  <input type="checkbox" id="show-share" data-property="showShare" <% if (showShare) { %>checked<% } %> />
  <label for="show-share">Show share buttons</label>
</div>

<div class="row">
  <input type="checkbox" id="show-legend" data-property="showLegend" <% if (showLegend) { %>checked<% } %> />
  <label for="show-legend">Show legend</label>
</div>

<div class="row">
  <input type="checkbox" id="show-list" data-property="showList" <% if (showList) { %>checked<% } %> />
  <label for="show-list">Show list</label>
</div>
