<div class="row">
  <input type="checkbox" id="show-map-title" data-property="showMapTitle" <% if (showMapTitle) { %>checked<% } %> />
  <label for="show-map-title">Titel</label>
</div>

<div class="row">
  <input type="text" id="map-title" placeholder="Titel" data-property="title" value="<%= title %>" <% if (!showMapTitle) { %>disabled<% } %> />
</div>

<div class="row">
  <input type="checkbox" id="show-search-filter" data-property="showSearchFilter" <% if (showSearchFilter) { %>checked<% } %> />
  <label for="show-search-filter">Zoekfunctie</label>
</div>

<div class="row">
  <input type="checkbox" id="show-share" data-property="showShare" <% if (showShare) { %>checked<% } %> />
  <label for="show-share">Sociale Media</label>
</div>

<div class="row">
  <input type="checkbox" id="show-legend" data-property="showLegend" <% if (showLegend) { %>checked<% } %> />
  <label for="show-legend">Legenda</label>
</div>

<div class="row">
  <input type="checkbox" id="show-list" data-property="showList" <% if (showList) { %>checked<% } %> />
  <label for="show-list">Lijst</label>
</div>
