@import "init";

#delving-search {
  width: 100%;
  border: solid 1px black;
  input {
    padding: 0;
    font-size: 20px;
    border: none;
    margin: 3px 8px;
  }
}
#delving-results {
  .btn-floating {
    position: relative;
    top: 0px;
    left: 50%;
    display: block;
    margin-left: -23px;
    margin-top: -52px;
  }
}