.feature-list-wrapper {
  #feature-filter {
    margin-bottom: 0;
  }
  li {
    margin-bottom: 1em;
    .edit {
      clear: both;
      line-height: 25px;
      padding-left: 35px;
    }
    label {
      left: 0;
    }
  }
  .edit {
    font-size: 12px;
  }
}