@import 'init';

#search-field {
  width: 100%;

  .input-border {
    border: solid 1px color('grey', "lighten-2");
    //@extend .z-depth-1;
  }
  .input-padding {
    margin: 2px 15px;
  }
  input {
    padding: 0;
    font-size: 20px;
    border: none;
    margin: 0;
  }
  .results-summary {
    margin-left: 15px;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

#search-results {
  margin: 1em;

  .card-title {
    line-height: 100%;
    padding-bottom: 16px;
    display: block;
  }

  .btn-floating {
    position: relative;
    top: 0;
    left: 50%;
    display: block;
    margin-left: -23px;
    margin-top: -52px;
  }

  p.actions {
    margin-top: 16px;
    margin-bottom: 0;
    span,
    a {
      padding: 8px 8px 8px 0;
      padding-top: 16px;
      margin-right: 16px;
      text-transform: uppercase;
      color: $primary_900;
      cursor: pointer;
      &:hover { color: $accent_900; }
    }
  }

}

.flyout-title {
  background-color: $accent_500;
  color: white;
  height: $header_height;
  width: 100%;
  position: relative;
  a {
    color: white;
    &:hover {
      color: $primary_700;
    }
  }
  .action {
    position: absolute;
    top: 0;
    left: 16px;
    font-size: 24px;
    line-height: $header-height;
    cursor: pointer;
  }
  h1, h2 {
    position: absolute;
    top: 0;
    left: 72px;
    font-size: 24px;
    margin: 0;
    line-height: $header-height;
  }
}

#flyout-right {

  @include transition-property(right);
  @include transition-duration(400ms);
  @include transition-timing-function(ease-out);

  position: fixed;
  right: -550px;
  bottom: 0;
  top: $header-height;
  width: 500px;
  height: 100%;
  background-color: white;
  overflow-x: hidden;
  z-index: 1003;
  //padding-top: 67px;

  // overflow-y: scroll;
  &.visible {
    right: 0;
  }
}

.routeyou-selector {
  margin: 1em;
}