@charset "UTF-8";
@import "susy";
@import "fontello";
@import "compass";

$color_yellow: #f9e11e;
$color_blue: #007bc7;
$color_text_dark: #535353;
$font_serif: 'Bree Serif', serif;

$menu_height: 80px;
$container_width: 1200px;