@charset "UTF-8";
@import "susy";
@import "fontello";
@import "compass";

$color_yellow: #f9e11e;
$color_blue: #007bc7;
$color_text_dark: #535353;
$font_serif: 'Roboto', serif;

// Material design: Orange
// See: https://www.google.com/design/spec/style/color.html#color-color-palette
$accent_50: #FFF3E0;
$accent_100: #FFE0B2;
$accent_200: #FFCC80;
$accent_300: #FFB74D;
$accent_400: #FFA726;
$accent_500: #FF9800;
$accent_600: #FB8C00;
$accent_700: #F57C00;
$accent_800: #EF6C00;
$accent_900: #E65100;

// Material design: Deep Purple
$primary_50: #EDE7F6;
$primary_100: #D1C4E9;
$primary_200: #B39DDB;
$primary_300: #9575CD;
$primary_400: #7E57C2;
$primary_500: #673AB7;
$primary_600: #5E35B1;
$primary_700: #512DA8;
$primary_800: #4527A0;
$primary_900: #311B92;

$header-height: 64px;