@import 'init';
@import '../bower_components/materialize/sass/components/tabs.scss';

/*
#toolbar {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40%;
  height: 100%;
  background-color: white;
  overflow-x: hidden;
  z-index: 3;
  //overflow-y: scroll;
}
*/