@import "init";
@import "map";
@import "delving";

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: $font_serif;
  text-rendering: geometricPrecision;
  font-size: 15px;
  color: $color_text_dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.hidden { display: none; }

#application,
#map-container {
  width: 100%;
  height: 100%;
}

#container {
  position: absolute;
  top: 26px;
  left: 50%;
  margin-left: ($container_width / -2);
  width: $container_width;
  z-index: 100;
}


ul.menu {
  margin: 0;
  padding: 0;
  display: none;
  &.visible {
    display: block;
  }
}

#header {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f3f3f3;
  z-index: 1;
  width: 100%;
  h1 {
    margin: 0;
  }
  > div {
    padding: 10px 15px;
  }
}

#flyout {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #222;
  color: #f3f3f3;
  width: 40%;
  height: 100%;
  z-index: 3;
  overflow-y: scroll;
}