<% if (!alreadySeen) { %>

    <p class="col s12">
    Met de ErfGeoviewer kun je collectiestukken en verhalen tonen op een kaart. Maak een themakaart of presenteer de hele collectie, aan jou de keus. De tekst en vormgeving is naar eigen wens aan te passen. Ook kan je zelf nieuwe informatiepunten toevoegen aan de kaart.
    </p>

<% } else { %>
    <ul class="col s6">
        <li>Zoek objecten of verhalen en voeg deze toe aan je kaart</li>
        <li>Een nieuwe marker maken kan via het icoon links op de kaart</li>
        <li>Pas de tekst of vormgeving van je markers en kaart aan in het rechtermenu</li>
    </ul>
    <ul class="col s6">
        <li>Alle aanpassingen worden automatisch bewaard in je browserscherm</li>
        <li>Ga naar ‘opslaan’ om je kaart te downloaden</li>
        <li>Met het gedownloade bestand kun je de kaart toevoegen aan je website</li>
    </ul>
<% } %>

