<h1 class="col s12">Welkom</h1>
<p class="col s12">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia dolor eget nunc commodo, tristique rutrum ex
    posuere. Fusce mauris massa, convallis sed eros a, euismod hendrerit purus. Maecenas congue consectetur velit, a
    lobortis dui elementum non. Proin convallis bibendum est, non lacinia elit molestie sed. Cras eget metus malesuada,
    tempus urna quis, rhoncus nibh. Pellentesque urna nulla, dapibus et bibendum ultrices, sodales eget risus.
    Suspendisse elementum finibus accumsan. Nullam pellentesque laoreet lacinia. Morbi ante neque, laoreet vel lorem in,
    sollicitudin aliquet tellus. Suspendisse eu risus vulputate, gravida lorem sed, tincidunt enim. Nam vel facilisis
    justo. Ut sodales egestas sodales. Vivamus et dui sodales, elementum ligula quis, ullamcorper lorem. In nunc risus,
    dictum sit amet varius non, luctus nec turpis.
</p>