<div class="filter-title">Datum</div>

<div class="row">
  <div class="input-field col">
    <input id="filter-start-date" class="validate" type="number" max="<%= maxYear %>" value="<%= date.from %>" />
    <label for="filter-start-date">Vanaf</label>
  </div>
</div>

<div class="row">
  <div class="input-field col">
    <input id="filter-end-date" class="validate" type="number" size="4" max="<%= maxYear %>" value="<%= date.to %>" />
    <label for="filter-end-date">Tot en met</label>
  </div>
</div>

<div id="resultGraph"></div>
