<div class="input-border">
  <div class="input-padding">
    <div class="facet-title"><%= name %></div>
    <ul class="facet-properties">
    <% _.each(options, function(option) { %>
      <li>
      <% if(_.isEmpty(option.href)) { %>
        <span class="facet-link"><%= option.value %> (<%= option.count %>)</span>
      <% } else { %>
        <a href="#" class="facet-link" data-facet-href="<%= option.href %>"><%= option.value %> (<%= option.count %>)</a>
      <% } %>
      </li>
    <% }); %>
  </ul>
  </div>
</div>