<div class="flyout-title color-secondary">
  <div class="col s12">
    <a href="#"><i class="icon-left action hide-flyout"></i></a>
  </div>
</div>

<%
  for (var i = 0; i < fields.length; i++) {
    var field = fields[i];

    switch(field.key) {
      case 'title':
        if (title) {
%><div class="row <%= field.key %> color-secondary"><div class="col s12">
<% if (field.label) { %><label><%= field.label %></label> <% } %>
<h3 id="edit-title" class="result-title editable"><%= title %></h3>
</div></div><% }
        break;

      case 'youtube':
        if (youtubeid) {
%><div class="row <%= field.key %>"><div class="col s12">
<% if (field.label) { %><label><%= field.label %></label> <% } %>
<iframe class="result-youtube" width="100%" height="390" src="https://www.youtube.com/embed/<%= youtubeid %>" frameborder="0" allowfullscreen></iframe>
</div></div><%  }
        break;

      case 'image':
        if (image) {
%><div class="row <%= field.key %>"><div class="col s12">
<% if (field.label) { %><label><%= field.label %></label> <% } %>
<img src="<%= image %>" />
</div></div><% }
        break;

      case 'description':
        if (description) {
%><div class="row <%= field.key %>"><div class="col s12">
<% if (field.label) { %><label><%= field.label %></label> <% } %>
<div id="edit-description" data-multiline="true" class="description editable"><%= description %></div>
</div></div><% }
        break;

      case 'externalUrl':
        if (externalUrl) {
%><div class="row <%= field.key %>"><div class="col s12">
<% if (field.label) { %><label><%= field.label %></label> <% } %>
<div class="editable"><a id="edit-externalUrl" href="<%= externalUrl %>" class="btn color-secondary"><%= ui.moreInfo %></a></div>
</div></div><%
        }
        break;
    }
  }
%>

<div class="row right-align">
 <div class="col s12 card-reveal reveal-icons">
  <% if (__id__) { %>
    <a target="_blank" href="http://data.digitalecollectie.nl/recordview?recordId=<%= __id__ %>" class="link-archive link"><i class="icon-archive"></i></a>
  <% } %>
  </div>
</div>
