<!--<div id="menu-button" data-activates="slide-out" class="button-collapse icon-menu" data-activates="slide-out"></div>-->
<h1>ErfGeoviewer</h1>

<ul id="slide-out" class="side-nav ">
  <li class="menu-title">ErfGeoviewer</li>
  <li><a href="#markers"><i class="icon-location"></i><span>Markers</span></a></li>
  <li><a href="#routes"><i class="icon-bicycle"></i><span>Routes</span></a></li>
  <li><a href="#base"><i class="icon-map"></i><span>Base Tiles</span></a></li>
  <li><a href="#features"><i class="icon-cog"></i><span>Features</span></a></li>
</ul>
<a href="#" id="menu-button" data-activates="slide-out" class="show-on-large"><i class="icon-menu"></i></a>
