<!--<div id="menu-button" data-activates="slide-out" class="button-collapse icon-menu" data-activates="slide-out"></div>-->

<h1>ErfGeoviewer</h1>

<ul id="slide-out" class="side-nav ">
  <li class="menu-title">ErfGeoviewer</li>
  <li><a href="#new"><i class="icon-map"></i><span>Nieuw</span></a></li>
  <li><a href="#open"><i class="icon-folder-open-empty"></i><span>Open</span></a></li>
  <!--<li><a href="#search"><i class="icon-location"></i><span>Markers</span></a></li>-->
  <!--<li><a href="#routes"><i class="icon-bicycle"></i><span>Routes</span></a></li>-->
  <!--<li><a href="#features"><i class="icon-cog"></i><span>Features</span></a></li>-->
</ul>

<a href="#" id="menu-button" data-activates="slide-out" class="show-on-large"><i class="icon-menu"></i></a>

<!-- TODO: create an api to let plugins register these -->
<ul id="primary-actions">
  <li><a class="features waves-effect waves-light btn-flat" href="#features">0</a></li>
  <li><a class="settings waves-effect waves-light btn-flat" href="#settings">Instellingen</a></li>
  <li><a class="save waves-effect waves-light btn-flat" href="#export">Exporteer</a></li>
  <li><a class="add waves-effect waves-light btn-flat" href="#search">Zoek</a></li>
</ul>

