<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>ErfGeoviewer</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/admin.css">

  <script>
    window.erfgeoviewer = {};
    window.erfgeoviewer.mode = 'mapmaker';
  </script>

</head>

<body>

<div id="erfgeoviewer"></div>

<!-- build:js scripts/main.js -->
<!-- browser-update.org check to show a warning message on older browsers -->
<script>
  var $buoop = { c: 2, reminder: 0 };
  function $buo_f(){
    var e = document.createElement("script");
    e.src = "//browser-update.org/update.min.js";
    document.body.appendChild(e);
  };
  try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
  catch(e){window.attachEvent("onload", $buo_f)}
</script>

<script>
  //msie will be positive number if its IE and NaN for other browsers
  var versionIE = parseInt((/msie (\d+)/.exec(navigator.userAgent.toLowerCase()) || [])[1]);
  if (isNaN(versionIE)) {
    versionIE = parseInt((/trident\/.*; rv:(\d+)/.exec(navigator.userAgent.toLowerCase()) || [])[1]);
  }
  if (isNaN(versionIE) || versionIE > 8) {
    //we're on a supported browser
    //<!-- build:js scripts/main.js -->
    document.write('<script data-main="scripts/erfgeoviewer.mapmaker" src="bower_components/requirejs/require.js"><\/script>');
    //<!-- endbuild -->

    <!-- @if NODE_ENV == 'DEVELOPMENT' -->
    document.write('<script src="scripts/config/dev.js"><\/script>');
    /*<script>*/document.write( '<script src="http://'
            + (location.host || 'localhost').split( ':' )[0]
            + ':35729/livereload.js?snipver=1"><\/script>' );
    //<\/script>
    <!-- @endif -->
  }
</script>
<!-- endbuild -->

<!-- @if NODE_ENV == 'PRODUCTION' -->
<script src="scripts/config/acc.js"></script>
<!-- @endif -->

<!-- @if NODE_ENV == 'DEVELOPMENT' -->
<script src="scripts/config/dev.js"></script>
<script>document.write( '<script src="http://'
+ (location.host || 'localhost').split( ':' )[0]
+ ':35729/livereload.js?snipver=1"><\/script>' );
<!-- @endif -->

</script>
</body>
</html>