<div class="row flyout-title">
  <div class="col s12">
    <a href="#"><i class="icon-left action"></i></a>
    <h2>Add a layer</h2>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s6"><a class="active" href="#toolbar-search">Search</a></li>
      <li class="tab col s6"><a href="#toolbar-library">Library</a></li>
    </ul>
  </div>
  <div id="toolbar-search" class="col s12">search region here</div>
  <div id="toolbar-library" class="col s12">library region here</div>
</div>