<div class="modal">

  <div class="modal-content">

    <h4>Kaart openen</h4>

    <form action="#">
      <div class="file-field input-field">
        <div class="btn color-secondary">
          <span>Bestand openen</span>
          <input type="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
    </form>

  </div>

  <div class="modal-footer">
    <a href="#open" class="open modal-action modal-close waves-effect waves-green btn-flat">Open</a>
  </div>

</div>
