<div class="row flyout-title">
    <div class="col s12">
        <a href="#"><i class="icon-left action hide-flyout"></i></a>
        <h2>Exporteren</h2>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <p>
          Zorg voor dat de kaart in de juiste locatie en zoomniveau is.
          Mensen gaan daar beginnen als ze de kaart zien.
        </p>
    </div>
</div>

<div class="row">
  <!--
    <div class="col s6">
        <a href="#" class="cancel">Annuleren</a>
    </div>-->

    <div class="col s6">
        <a href="#download" class="download waves-effect waves-light btn"><%= downloadText %></a>
    </div>
</div>

<div class="row">
  <div class="col s12">
    <div id="modal-container"></div>
  </div>
</div>