<div class="flyout-settings">

  <div class="row flyout-title">
    <div class="col s12">
      <a href="#"><i class="icon-left action hide-flyout"></i></a>
      <h2>Instellingen</h2>
    </div>
  </div>

  <div class="row settings">
    <div class="col s12">
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header">Interface</div>
          <div class="collapsible-body" id="settings-interface"></div>
        </li>
        <li>
          <div class="collapsible-header">Colors</div>
          <div class="collapsible-body" id="settings-color"></div>
        </li>
        <li>
          <div class="collapsible-header">Map style</div>
          <div class="collapsible-body" id="settings-map-style"></div>
        </li>
        <li>
          <div class="collapsible-header">Legend</div>
          <div class="collapsible-body" id="settings-legend"></div>
        </li>
      </ul>
    </div>
  </div>

</div>